.banner {
	padding: 4px 4px;
	text-align: center;
	color: coral;
	text-shadow: #000 4px 4px 4px;
	background-image:	radial-gradient(at left top, rgb(91, 192, 222), rgb(51, 142, 218));
}

.nav {
	margin: 0;
	background: rgb(0, 100, 200);
	color: #fff;
}

.nav a {
	color: #fff;
	text-decoration: none;
}

.menu {
	padding: 0;
	margin: 0;
	display: flex;
	overflow: visible;
	list-style-type: none;
}

.menu>li {
	margin: auto;
}

.menu>li:first-child {
	margin-left: 1em;
}

.menu>li:last-child {
	margin-right: 1em;
}

.menu>li:hover {
	text-shadow: #f80 2px 2px 2px;
}

.menu>li>ul {
	position: absolute;
	color: #00f;
	text-shadow: none;
	background-color: #286c;
	list-style-type: none;
	padding: 4px;
	overflow: hidden;
	clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
	transform: translateY(-100%);
	transition: transform .5s, clip-path .5s;
}

.menu>li:hover>ul {
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	transform: translateY(0%);
}

.main {
	margin: 4px;
}

.footer hr {
	margin-left: 4px;
	margin-right: 4px;
	border: 2px solid #fdd;
	border-radius: 2px;
}

.footer address {
	text-align: right;
	margin-right: 1em;
	color: #f88;
}
